.money-manager-app-container{
    min-height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.money-app-block-container{
    width: 80%;
}

.money-app-banner{
    background-image: url("https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png");
    height: 150px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
}

.money-diaplay-container{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.money-card{
    border: 1px solid gray;
    border-radius: 8px;
    margin: 5px;
    width: 22%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.money-icon{
    height: 50px;
    width: 50px;
}

.yellow{
    background-color: #ecfccb;
}

.sky{
    background-color: #cffafe;
}

.violet{
    background-color:  #ede9fe;
}

.transaction-history-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.transaction-container{
    border: 1px solid gray;
    margin: 10px;
    width: 40%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transaction-form{
    width: 80%;
}

.add-tran-heading{
    margin: 20px 0px;
}

.money-label{
    font-weight: 500;
    /* margin:8px 0px; */
}

.money-input{
    width: 80%;
    height: 35px;
    margin-top:5px ;
    margin-bottom: 15px;
}

.add-tran-button{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: aquamarine;
    color: #ede9fe;
    border: 1px solid #000000;
    cursor: pointer;
    outline: none;
}

.history-container{
    border: 1px solid gray;
    margin: 10px;
    width: 60%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.history{
    /* border: 1px solid red; */
    margin-top: 30px;
    width: 80%;
}

.history-table-container{
    /* border: 2px solid #000000; */
    padding: 5px;
}

.history-heading-container{
    border: 1px solid gray;
    border-bottom: none;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
}

.history-heading-container-results{
    border: 1px solid gray;
    border-bottom: none;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    flex-wrap: wrap;
    max-height: 255px;
    overflow-y: scroll;
}

.history-heading-container-results::-webkit-scrollbar {
    width: 3px;               /* width of the entire scrollbar */
  }
.history-heading-container-results::-webkit-scrollbar-track {
    background:  #ecfccb;
    border-left: 1px solid gray;
    border-bottom: 1px solid gray;
  }

.history-heading-container-results::-webkit-scrollbar-thumb {
    background-color: #0b69ff;
    border-radius: 4px;  
  }

.history-headings{
    width: 25%;
    margin: 5px;
    /* border: 1px solid red; */
    font-weight: 600;
    padding: 5px;
    overflow: auto;

}

.need{
    border-bottom: none;
}

.delete-icon{
    width: 11%;
    margin: 5px;
    /* border: 1px solid red; */
    font-weight: 600;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* flex-shrink: 2; */
}

.money-list-items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid gray;
}

.money-delete-icon{
    height: 21px;
    width: 21px;
}