.history-list-items{
    margin: 10px;
    padding: 5px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:768px){
    .history-list-items{
        width: 90%;
    }
}

.date-app-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.history-date{
    color: #64748b;
    font-weight: 700;
}

.logo-name-url-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

.app-logo{
    height: 25px;
    width: 25px;
}

.app-title{
    color: #475569;
    font-weight: 700;
    margin-left: 10px;
}

.app-url{
    color: #64748b;
    margin-left: 10px;
}

.history-delete-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.history-delete-icon{
    height: 25px;
}